
{#
**************************************************
###         Interfaces configuration        ######
**************************************************
    #}
interfaces {
{%  for vpn in l3vpn %}
{%      for port in l3vpn[vpn].intfs %}
    {{ port.intf.split('.')[0] }} {
        unit {{port.intf.split('.')[1]}} {
            description " {{vpn}}"
            family inet {
                address {{port.ip}}
            }
        }
{%      endfor %}
    }   
{% endfor %}
}

{#
**************************************************
###         Routing Instances                  ###
**************************************************
#}
{#routing-instances {
{%  for site in node %}
    {{vpn_service.vrf_name}} {
        instance-type vrf;
        interface {{site.links.keys()[0]}};
        route-distinguisher {{vpn_service.rd}};
        vrf-target target:{{vpn_service.rt}};
        vrf-table-label;
        protocols {
            bgp {
                group {{site.name}} {
                    import __ANSIBLE_{{vpn_service.vrf_name}}_{{site.name}}_import;
                    export __ANSIBLE_{{vpn_service.vrf_name}}_{{site.name}}_export;
                    neighbor {{site.bgp.peer_ip}};
                    peer-as {{site.bgp.as}};
                }
            }
        }
    }
{%  endfor %}
}#}
