{% set node_intfs = p2p_ip[inventory_hostname] %}
{% for p in node_intfs| sort(attribute='port') %}
!
interface {{p.port}}
   description "{{global.site}} | Rpeer: {{p.peer}} | Rport: {{p.pport}}"
   no switchport
   ip address {{p.ip}}/{{global.p2p_prefix}}
{% if p.state is defined and p.state == 'down' %}
   shutdown
{% endif %}
{%  endfor %}
!
interface Loopback0
   ip address {{lo_ip[inventory_hostname].ip}}
{% if lo_ip[inventory_hostname].state == 'down' %}
   shutdown
{% endif %}
!
