centos_docker_repo: https://download.docker.com/linux/centos/docker-ce.repo

centos_required_pkgs:


docker_required_packages:
  RedHat:
      - yum-utils
      - device-mapper-persistent-data
      - lvm2
      - curl
      - ansible
  Debian:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
