[defaults]
inventory=./hosts
retry_files_enabled=False
gathering=explicit
host_key_checking=False
library = /usr/local/lib/python3.5/dist-packages/napalm_ansible/modules
action_plugins = /usr/local/lib/python3.5/dist-packages/napalm_ansible/plugins/action
