!
hostname {{inventory_hostname}}
telnet vrf default ipv4 server max-servers 100
!
{% for user in global.users if user.passwd is defined %}
username {{user.username}}
 group sysadmin
 group cisco-support
 group root-system
 password 7 {{user.passwd}}
{% endfor %}
!
interface {{mgmt_net[inventory_hostname].port}}
 ipv4 address {{mgmt_net[inventory_hostname].ip| ipaddr('address')}} {{mgmt_net[inventory_hostname].ip| ipaddr('netmask')}}
!

router static
 address-family ipv4 unicast
{%  for route in global.mgmt_prefixes %}
  {{route}} {{global.mgmt_gw}}
{% endfor %}
 !
!
xml agent tty
 iteration off
!
xml agent
!
ssh server v2
ssh server vrf default
ssh server logging
ssh server rate-limit 600