{% set node = nodes_p2p_ip[inventory_hostname] %}
{% set node_lo = igp[inventory_hostname] %}
##### Start IP Interface Config ##########
groups {
    GR-CORE-INTF-L3 {
        interfaces {
            <*> {
                traps;
                mtu {{mtu}};
                hold-time up 2000 down 0;
                unit 0 {
                    family inet;
                    family iso;
                    family inet6;
                    family mpls {
                        maximum-labels 5;
                    }
                }
            }
            <ae*> {
                traps;
                aggregated-ether-options {
                    lacp {
                        active;
                        accept-data;
                    }
                }
            }
        }
    }
}
interfaces {
    lo0 {
        unit 0 {
            family inet {
                address {{node_lo.lo_ipv4}};
            }
            family inet6 {
                address {{node_lo.lo_ipv6}};
            }
        }
    }
{% for intf,int_ip_data in node.links.items()|sort %}
    {{intf}} {
        apply-groups GR-CORE-INTF-L3;
        description "S:3 | CRE |{{int_ip_data.remote_node}} | {{int_ip_data.remote_port}}";
        unit 0 {
            family inet {
                address {{int_ip_data.ipv4}};
            }
            family inet6 {
                address {{int_ip_data.ipv6}};
            }
        }
    }
{% endfor %}
}
