{% set node = nodes[inventory_hostname] %}
##### Start Interface Config ##########
groups {
    GR-CORE-INTF-LAG-MEMBER {
        interfaces {
            <*> {
                traps;
                hold-time up 2000 down 0;
                optics-options {
                    alarm low-light-alarm {
                        syslog;
                    }
                    warning low-light-warning {
                        syslog;
                    }
                }
            }
        }
    }
}
chassis {
{% if 'xxx' in inventory_hostname  %}
    fpc 2 {
        pic 0 {
            port 5 {
                speed 100g;
            }
        }
        pic 1 {
            port 5 {
                speed 100g;
            }
        }
    }
{% endif %}
    aggregated-devices {
        ethernet {
            device-count 64;
        }
        maximum-links 16;
    }
    network-services enhanced-ip;
}

interfaces {
{% for intf,intf_attr in node.links.items()|sort %}
    {{intf}} {
        apply-groups GR-CORE-INTF-LAG-MEMBER;
{% if 'mpe' in intf_attr.remote_node or 'mpe' in inventory_hostname  %}
        description "S:3 | CRE |{{intf_attr.remote_node}} | {{intf_attr.remote_port}}";
{% else %}
        description "S:4 | CRE |{{intf_attr.remote_node}} | {{intf_attr.remote_port}}";
{% endif %}
        gigether-options {
            802.3ad {{intf_attr.bundle}};
        }
    }
{% endfor %}
}
