{% set node_lo = igp[inventory_hostname] %}
{% set fxp0 = ansible_host.split('.')[3] %}
{% set fxp1 = fxp0|int + 1 %}
{% set mgmt_prefix = '/'.join((ansible_host,'24')) %}
{% set fxp0_ip = mgmt_prefix %}
{% set fxp1_ip = mgmt_prefix|ipaddr(fxp1|string) %}
{% set df_gw = mgmt_prefix|ipaddr(254)|ipaddr('address') %}

##### Start Managment Config ##########
groups {
    re0 {
        system {
            host-name {{inventory_hostname}};
            backup-router {{df_gw}} destination [ 172.20.0.0/16 172.30.0.0/16 10.5.0.0/16 ];
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address {{fxp0_ip}};
                    }
                }
            }
        }
    }
    re1 {
        system {
            host-name {{inventory_hostname}};
            backup-router {{df_gw}} destination [ 172.20.0.0/16 172.30.0.0/16 10.5.0.0/16 ];
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address {{fxp1_ip}};
                    }
                }
            }
        }
    }
}
apply-groups [ re0 re1 ];

groups {
    GR-SYSLOG {
        system {
            syslog {
                host <*> {
                    any notice;
                    authorization any;
                    daemon any;
                    kernel any;
                    interactive-commands any;
                    facility-override local7;
                    log-prefix {{inventory_hostname}};
                    explicit-priority;
                }
            }
        }
    }
}
chassis {
    craft-lockout;
    redundancy {
        routing-engine 0 master;
        routing-engine 1 backup;
        failover {
            on-loss-of-keepalives;
            on-disk-failure;
        }
        graceful-switchover;
    }
    routing-engine {
        on-disk-failure disk-failure-action reboot;
    }
    alarm {
        management-ethernet {
            link-down ignore;
        }
        ethernet {
            link-down ignore;
        }
    }
}
system {
    configuration-database {
        extend-size;
    }
    host-name {{inventory_hostname}};
    time-zone Australia/Sydney;
    switchover-on-routing-crash;
    no-redirects;
    no-redirects-ipv6;
    no-ping-record-route;
    no-ping-time-stamp;
    management-instance;
    dump-on-panic;
    internet-options {
        icmpv4-rate-limit packet-rate 3000 bucket-size 3;
        icmpv6-rate-limit packet-rate 3000 bucket-size 3;
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    inactive: authentication-order [ tacplus password ];
    location country-code AU;
    ports {
        auxiliary {
            disable;
            insecure;
        }
    }
    root-authentication {
        encrypted-password {{root_password}};
    }
    login {
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 5;
            lockout-period 4;
        }
{%      for user in users %}
        user {{user.name|default('mnf')}} {
            class super-user;
            authentication {
                encrypted-password "$6$sP0Fd2RS$c1KTifMTB.0xrvshRrx5.SoujsHvJdbIA0f/Uv7OzkgYuk9q2NhcJc9C9dQVJ3KS634MSgCz8bkSqlvZizeV80";
            }
        }
{%      endfor %}
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            client-alive-count-max 3;
            client-alive-interval 120;
            connection-limit 50;
            rate-limit 10;
        }
        netconf {
            ssh {
                connection-limit 10;
                rate-limit 10;
            }
        }
    }
    syslog {
        archive size 10m files 20 world-readable;
        user * {
            any emergency;
        }
{%      for syslog in syslog_servers %}
        host {{syslog}} {
            apply-groups GR-SYSLOG;
        }
{%      endfor %}
        file messages {
            any warning;
            authorization none;
            pfe none;
            match "!(.*PCF8584)|!(.*4 Offline uncorrectable sectors.*)";
            explicit-priority;
        }
        file interactive-commands {
            interactive-commands any;
        }
        file security {
            authorization info;
            interactive-commands any;
            explicit-priority;
        }
        file syslog {
            any info;
            firewall none;
            match "!(%DAEMON-6-PING_TEST_|%DAEMON-3-RMOPD_ICMP_)";
            explicit-priority;
        }
        console {
            any alert;
            pfe none;
        }
        time-format year millisecond;
        source-address {{node_lo.lo_ipv4|replace('/32','')}};
    }
    commit {
        fast-synchronize;
        synchronize;
        persist-groups-inheritance;
    }
    processes {
        routing failover other-routing-engine;
    }
    ntp {
{%      for ntp in ntp_servers %}
        server {{ntp}};
{%      endfor %}
        source-address {{node_lo.lo_ipv4|replace('/32','')}};
    }
}
routing-options {
    nonstop-routing;
}
firewall {
    family inet {
        filter acl_lo {
            term mgmt_subnet {
                from {
                    source-address {
                        172.20.0.0/16;
                        172.30.0.0/16;
                        10.5.0.0/16;
                        10.55.255.0/24;
                        10.55.252.0/24;
                    }
                    destination-port [ snmp ssh ];
                }
                then accept;
            }
            term deny_mgmt_traffic {
                from {
                    destination-port ssh;
                }
                then {
                    discard;
                }
            }
            term allow_all {
                then accept;
            }
        }
    }
}
interfaces {
    lo0 {
        unit 0 {
            family inet {
                filter {
                    inactive: input acl_lo;
                }
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            static {
                route 0.0.0.0/0 next-hop {{df_gw}};
            }
        }
    }
}





