{% set bgp_grp = 'SPINEs' if 'spine' in inventory_hostname else 'LEAFs' %}
!
router bgp {{bgp_asn}}
   router-id {{lo_ip[inventory_hostname].split('/')[0]}}
   maximum-paths 2
   bgp bestpath tie-break router-id
   neighbor {{ bgp_grp }} peer-group   
   neighbor {{ bgp_grp }} description "Peer Group for All {{bgp_grp}} Nodes"
   neighbor {{ bgp_grp }} graceful-restart-helper
   neighbor {{ bgp_grp }} send-community standard extended
   neighbor {{ bgp_grp }} maximum-routes 100000 warning-only

{% for p in bgp_peers %}
   neighbor {{ p.peer_ip}} peer-group grp_leafs
   neighbor 10.1.1.1 remote-as 65101
   neighbor 10.1.1.3 peer-group grp_leafs
   neighbor 10.1.1.3 remote-as 65102
   neighbor 10.1.2.1 peer-group grp_gws
   neighbor 10.1.2.1 remote-as 65401
   neighbor 10.1.2.3 peer-group grp_gws
   neighbor 10.1.2.3 remote-as 65402
   neighbor 10.1.3.1 peer-group grp_fws
   neighbor 10.1.3.1 remote-as 65301
   redistribute connected route-map loopback_only
   !
   address-family evpn
      neighbor grp_fws activate
      neighbor grp_gws activate
      neighbor grp_leafs activate
   !
   address-family ipv4
      neighbor grp_fws activate
      neighbor grp_gws activate
      neighbor grp_leafs activate
      neighbor grp_leafs route-map spine_2_leaf out
!
#}
