! boot system flash:/vEOS-lab.swi
!
hostname {{global.site|lower}}-{{inventory_hostname}}
!
snmp-server enable traps
!
spanning-tree mode none
!
aaa authorization exec default local
!
{% for user in global.users%}
username {{user.name}} privilege {{user.privilege}} role {{user.role|default('network-admin')}} secret {{user.password}}
{% endfor%}
!
vrf definition {{global.mgmt_vrf}}
!
interface Management1
   vrf forwarding {{global.mgmt_vrf}}
   ip address {{ansible_host}}/{{global.mgmt_prefix}}
   no lldp transmit
   no lldp receive
!
{% for p in global.mgmt_prefixes %}
ip route vrf {{global.mgmt_vrf}} {{p}} {{global.mgmt_gw}}
{% endfor %}
!
ip routing
ip routing vrf {{global.mgmt_vrf}}
!
!
management api http-commands
   no shutdown
   !
   vrf {{global.mgmt_vrf}}
      no shutdown
!
management console
   idle-timeout 300
!
management ssh
   idle-timeout 300
   authentication mode password
   login timeout 300
!